<div class="bot1">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo2_wrapper">
                    <a href="index.html" class="logo2 scroll-to">
                      <img src="assets/images/wwlg.png" alt="" class="img-responsive" width="20%" height="auto">
                    </a>
                </div>
                <p>
                   WoodWorld, a small business passionate about transforming wood into stunning art pieces.
                   From handcrafted decor to unique furniture, each creation reflects our love for craftsmanship and creativity.
                   Explore our e-shop for one-of-a-kind wooden artwork and bring natural beauty into your space.
                </p>
                <br>
                <ul class="social clearfix">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="bot_title">footer menu</div>
                <ul class="bot_menu clearfix">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Online Support</a></li>
                    <li><a href="#">Our Blog</a></li>
                    <li><a href="#">Product Gallery</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="bot_title">company address</div>
                <div class="smallicons clearfix">
                    <i class="fa fa-map-o"></i><span>Foushana.<br>Ben Arouss, Tunisia.</span>
                </div>
                <div class="smallicons clearfix">
                    <i class="fa fa-phone"></i><span>Phone: +216 90 001229</span>
                </div>
                <div class="smallicons clearfix">
                    <i class="fa fa-envelope-o"></i><span>Email: <a href="#">Woodworld</a></span>
                </div>
  
            </div>
  
        </div>
    </div>
  </div>
  
  <div class="bot2">
    <div class="container">
        copyright &copy; 2024 Visual focus prod All Rights Reserved
    </div>
  </div>