<div class="bot1">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
              <div class="logo2_wrapper">
                  <a href="index.html" class="logo2 scroll-to">
                    <img src="assets/images/wwlg.png" alt="" class="img-responsive" width="20%" height="auto">
                  </a>
              </div>
              <p>
                  Lorem ipsum dolor site amet concateur un prado cargo, lorem ipsum dolor site amet concateur un
                  prado cargo. All bravo versache un tiro balensiaga. Bootstrap templates website rresponsive
                  templates.
              </p>
              <br>
              <ul class="social clearfix">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>
          <div class="col-sm-3">
              <div class="bot_title">footer menu</div>
              <ul class="bot_menu clearfix">
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Online Support</a></li>
                  <li><a href="#">Our Blog</a></li>
                  <li><a href="#">Product Gallery</a></li>
                  <li><a href="#">Contact us</a></li>
              </ul>
          </div>
          <div class="col-sm-3">
              <div class="bot_title">company address</div>
              <div class="smallicons clearfix">
                  <i class="fa fa-map-o"></i><span>39., Broadway str.<br>554304., New York, USA.</span>
              </div>
              <div class="smallicons clearfix">
                  <i class="fa fa-phone"></i><span>Phone: +1 (917) 3386810</span>
              </div>
              <div class="smallicons clearfix">
                  <i class="fa fa-envelope-o"></i><span>Email: <a href="#">support@test-demo.com</a></span>
              </div>
              <div class="smallicons clearfix">
                  <i class="fa fa-print"></i><span>FAX: +1 (917) 3386810</span>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="bot_title">Popular products</div>
              <ul class="bot_menu clearfix">
                  <li><a href="#">Bootstrap responsive templates</a></li>
                  <li><a href="#">Black label - Mock-up</a></li>
                  <li><a href="#">HTML5 templates</a></li>
                  <li><a href="#">Wordpress templates</a></li>
                  <li><a href="#">Joomla responsive templates</a></li>
                  <li><a href="#">Ecommerce templates</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>

<div class="bot2">
  <div class="container">
      copyright &copy; 2024 Visual focus prod All Rights Reserved
  </div>
</div>



