<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/assets/backOffice/vendors/styles/core.css">
<link rel="stylesheet" type="text/css" href="/assets/backOffice/vendors/styles/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="/assets/backOffice/plugins/datatables/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="/assets/backOffice/plugins/datatables/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="/assets/backOffice/vendors/styles/style.css">
<app-header-back></app-header-back>
<app-navbar></app-navbar>
<div class="main-container">
  <div class="pd-ltr-20">

<router-outlet></router-outlet>
  </div>

</div>


<script src="/assets/backOffice/vendors/scripts/dashboard.js"></script>
<script src="/assets/backOffice/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<script src="/assets/backOffice/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="/assets/backOffice/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/backOffice/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/backOffice/plugins/apexcharts/apexcharts.min.js"></script>
<script src="/assets/backOffice/vendors/scripts/process.js"></script>
<script src="/assets/backOffice/vendors/scripts/layout-settings.js"></script>

